:root {
    --color-white: white;
    --color-red: #cd3d0f;
    --color-black: black;
    --color-light-black: #363636;
    --color-blue: #2d64e6;
    --color-grey: #bebcbb;
    --color-light-grey: #d9dadc;
}

a {
    text-decoration: none;
}

body {
    font-family: Helvetica, arial, sans-serif;
}

.nav-top {
    background-color: var(--color-black);
}

.btn-nav::after {
    content: none;
}

.navbar-nav .navbar-nav .sign-in {
    background-color: var(--color-light-black);
    color: var(--color-white);
    border-radius: 15px;
}

.dropdown-item {
    display: inline-block;
}