:root {
    --color-white: white;
    --color-red: #cd3d0f;
    --color-black: black;
    --color-light-black: #363636;
    --color-blue: #2d64e6;
    --color-grey: #bebcbb;
    --color-light-grey: #d9dadc;
    --color-dark-blue: #161c3b;
}

/* Extend Bootstrap Utilities */
.px-20 {
    padding: 0 20rem!important;
}

a {
    text-decoration: none;
}

body {
    font-family: Helvetica, arial, sans-serif;
}

/* nav bar */
.nav-top {
    background-color: var(--color-black);
}

.btn-nav::after {
    content: none;
}

.navbar-nav .navbar-nav .sign-in {
    background-color: var(--color-light-black);
    color: var(--color-white);
    border-radius: 15px;
}

.dropdown-menu {
    border: none;
    width: 100%;
}

nav {
    font-weight: 600;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
}

/* /nav bar */

/* jambotron */

.jambotron {
    width: 100%;
    color: var(--color-white);
    padding-top: 5em;
}

.bg-jambotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15em;
}

.banner-returnal {
    width: 250px;
}

.cont {
    padding-bottom: 20%;
}


.buy {
    background-color: var(--color-red);
    border-radius: 15px;
    color: var(--color-white);
}
/* /jambotron */

/* games-ret-rat */

.games-ret-rat img {
    width: 100%;
    border-radius: 25px;
}
/* /games-ret-rat */

/* no limits */
.limits {
    color: var(--color-blue);
    font-size: 0.8em;
}

.sub-title, .description  {
    color: #797979
    ;
}

.ps-big {
    width: 100%;
}

.information {
    background-color: var(--color-blue);
    border-radius: 15px;
    color: var(--color-white);
}

.device {
    opacity: 0.7;
}

.device:hover {
    opacity: 1;
    border-bottom: 2px solid var(--color-blue);
}
/* no limits */

/* it take two */
.it-take-two {
    width: 100%;
    color: var(--color-white);
    padding-top: 5em;
}

.bg-it-take-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5em;
}
/* it take two */

/* new releases */
.new-releases {
    background-color: #1f1f1f;
    color: var(--color-white);
}

.new-releases img {
    width: 100%;
    border-radius: 25px;
}
/* new releases */

/* explore */
.explore img {
    width: 100%;
}
/* /explore */

/* PS Plus */
.ps-plus {
    width: 100%;
    color: var(--color-black);
    padding-top: 5em;
}

.bg-ps-plus {
    background-color: var(--color-grey);
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-top: 5em;
}

.btn-explore {
    background-color: var(--color-light-grey);
    border-radius: 15px;
    color: var(--color-blue);
}

.banner-ps-plus {
    width: 350px;
}
/* /PS Plus */

/* PS Now */
.ps-now {
    width: 100%;
    color: var(--color-white);
    padding-top: 5em;
}

.bg-ps-now {
    background-color: var(--color-dark-blue);
    background-image: url(../img/ps-now-april-featured-image-block.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-top: 5em;
}

.btn-explore-now {
    background-color: var(--color-white);
    border-radius: 15px;
    color: var(--color-black);
}

@media screen and (max-width: 992px) {
    .dropdown-menu .px-20 {
        padding: 0!important;
    }

}